html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  overflow: hidden;
}

code,
pre {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

* {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif !important;
}