.App {
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppBar {
  background-color: #007bff;
}

.App-button {
  font-size: 1rem;
  text-transform: none;
  border-radius: 8px;
  padding: 6px 16px;
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.App-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.Canvas-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #333;
}

canvas {
  border: 2px solid #007bff;
  border-radius: 8px;
  margin-top: 20px;
}

.MuiDialogTitle-root {
  font-weight: bold;
}

.MuiDialogContent-root ul {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MuiDialogContent-root ul li {
  margin-bottom: 8px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.left {
  text-align: left;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.scrollable-paper {
  height: 100vh;
  min-width: 100px;
  overflow: auto;
  padding: 16px;
  margin: auto;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .scrollable-paper {
    height: calc(100vh - 100px);
    max-width: 95vw;
  }
}

.scrollable-paper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable-paper::-webkit-scrollbar-track {
  background: #f0f2f5;
  border-radius: 4px;
}

.scrollable-paper::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 4px;
}

.scrollable-paper::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.scrollable-paper {
  scrollbar-width: thin;
  scrollbar-color: #007bff #f0f2f5;
}